body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App h2, .App p{
  text-align: center
}

.Delete label, .Delete button{
  margin-left: 30px
}

.Add label, .Add button{
  margin-left: 30px
}

.Person div{
  margin-left: 30px;
  background: #fff 
}
